.carousel-messmenu-cc {
    /* Your styles for larger screens */
    padding: 20px; /* Add any other styles you need */
}

/* Existing styles remain unchanged */
.outermost-gallary-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    padding: 2rem;
    padding-bottom: 4rem;
    background: linear-gradient(135deg, #fcfcfc, #faf6f1);
    border-radius: 20px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
    /* border: 2px solid #f0e4d6; */
    /* transition: all 0.3s ease; */
}

.outermost-gallary-cc:hover {
    background: linear-gradient(135deg, #fdfcfb, #f4ece4);
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); */
    /* transform: scale(1.02); */
}


.gallary-heading-cc {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 3.5rem;
    text-align: center;
    display: block;
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    border-radius: 20px;
}

.mycarousel-cc {
    height: 100%;
    width: 100%;
}

.gallary-button-cc {
    width: 28rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .gallary-button-cc {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .gallary-heading-cc {
        font-size: 2.5rem;
    }

    .gallary-button-cc {
        font-size: 1.2rem;
    }
}
