.swiper-slide-everymonthexpenses {
  text-align: center;
  font-size: 17px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.swiper-slide-everymonthexpenses img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}