.commentlist-outer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.commentlist-outer .myComments_div{
    height: 7rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 196, 188);
    width: 40%;
    border-radius: 10px;
    border: 2px solid red;
}