.Patelgallery-outermost-div .my-imges-link{
    text-align: center;
    background-color: rgb(245, 220, 187);
    padding: 1.3rem;
    /* border: 2px solid greenyellow; */
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}